.siteName {
  .heading{
    font-family: "Playfair Display SC", serif;
    font-size: 1.5rem;
  }
  .email{
      font-size: 1rem;
  }
  color: hsl(0, 0%, 100%);
  margin: 0;
  position: fixed;
  bottom: 5rem;
  left: 1rem;
  text-align: center;
  .logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
  }
}

.menu{
  padding: 0;
  margin: 0;
  position: fixed;
  top: 10%;
  left: 1rem;
  color: hsl(0, 0%, 100%);
  z-index: 3;
  li {
    text-align: left;
    list-style: none;
    -ms-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    a {
      text-decoration: none;
      font-size: 21px;
      color: #999;
      line-height: 40px;
      &:hover {
        color: #01a5e2;
        &::before {
          content: "";
          position: absolute;
          background: #01a5e2;
          width: 4px;
          height: 28px;
          display: block;
          left: -10px;
          margin-top: 6px;
        }
      }
    }

  }
}
